---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from './../layouts/Page.astro';
import HomeHeroSection from './../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Оказываемые услуги</h2>
			<p>
				Основные направления нашей работы для Вашего комфорта.
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/blog/posts/nezavisimaya"
					title="Независимая экспертиза"
          imgSrc="./assets/images/home/screenshots/screen-nezav"
				>
				</FeatureCard>

				<FeatureCard
				href="/blog/posts/yurist"
				title="Юридические услуги"
	  imgSrc="./assets/images/home/screenshots/screen-yurist"
			>
			</FeatureCard>

				<FeatureCard
					href="/blog/posts/trasolog"
					title="Трасологическая экспертиза"
          imgSrc="./assets/images/home/screenshots/screen-trasolog"
				>
				</FeatureCard>

				<FeatureCard
					href="/blog/posts/sudexpert"
					title="Судебная экспертиза"
          imgSrc="./assets/images/home/screenshots/screen-sudexpert"
				>
				</FeatureCard>

				<FeatureCard
					href="/blog/posts/ocenka"
					title="Оценка транспортных средств"
          imgSrc="./assets/images/home/screenshots/screen-ocenka"
				>
				</FeatureCard>

				<FeatureCard
					href="/blog/posts/predstavitel"
					title="Представительство в судах"
          imgSrc="./assets/images/home/screenshots/screen-yurist-2"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>О компании</h2>
			<p>
				В этом разделе Вы можете детально ознакомиться с нашей компанией, познакомиться с экспертом и найти наши контакты.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/company/about" title="О нас" imgSrc="/assets/images/home/screenshots/screen-about">
				</FeatureCard>

				<FeatureCard href="/company/contact" title="Контакты" imgSrc="/assets/images/contact/contact-1">
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
