---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	BlogPostsList,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const posts = await Astro.glob('./posts/*.mdx').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
);

const seo = {
	title: 'Blog post list',
	description: 'Services page',
};
---

<Layout {seo}>
	<Container>
		<section class="blog-posts-list__section">
			<h2>Наши услуги</h2>
			<BlogPostsList posts={posts} />
		</section>
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
