---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About etalon',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>О нас</h1>
			<p>
				"ЭТАЛОН эксперт-оценка", индивидуальный предприниматель Нефедов Игорь Юрьевич. <br/>
        <strong>ОГРНИП</strong> 315110100011775 <br/>
        <strong>ИНН</strong> 110115831515 <br/>
       <strong>Адрес:</strong> 167000, г. Сыктывкар, ул. Советская, д. 8, кабинет 222 <br/>
       <strong>Режим работы:</strong> ПН-ПТ: 8:00-17:00, СБ-ВС: выходной <br/>
       <strong>Тел:</strong> 8 (912) 192-67-60, E-mail: etaloneo@ya.ru
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/about/about-logo.png"
        alt="Etalon Logo"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      Эксперт проводящий для вас экспертизу - Нефедов Игорь Юрьевич имеющий высшее техническое образование по специальности «Автомобили и автомобильное хозяйство» (диплом серии КГ № 75968);
    </p>
    <p>
      Квалификацию оценщика (диплом о профессиональной переподготовке, регистр. № 1093, по программе «Оценка стоимости предприятия (бизнеса)», дает право на ведение профессиональной деятельности в сфере оценки имущества); 
    </p>
    <p>
      Квалификацию эксперта-трасолога (диплом о профессиональной переподготовке, регистр. № 2018/081-8187, по программе «Трасологическая экспертиза», дает право на ведение профессиональной деятельности в сфере независимой трасологической экспертизы); 
    </p>
    <p>
      Квалификацию эксперта по качеству технического обслуживания и ремонта транспортных средств (диплом о профессиональной переподготовке, регистр. № 3705, по программе «Экспертиза качества технического обслуживания и ремонта транспортных средств», дает право на ведение профессиональной деятельности в сфере экспертизы качества технического обслуживания и ремонта транспортных средств);
    </p>
    <p>
      Квалификацию эксперта-техника (диплом о профессиональной переподготовке, регистр. № 0466, по программе «Независимая техническая экспертиза";
    </p>
  </TextSection>
</Layout>
