---
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';


const seo = {
	title: 'Contact | Astro Odyssey Theme',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Наши контакты</h1>
				<p>
					В данном разделе Вы сможете найти наши контакты, номера телефонов, электронную почту и социальные сети, а так же
					построить маршрут до нашего офиса.
				</p>
				<div>
					<h3>
						Позвонить или написать:
					</h3>	
					<p>
						• <em><a href="tel:%2B79121926760"><strong>Телефон:</strong> позвонить на номер 8 (912) 192-67-60</a></em><br/>
						• <em><a href="mailto:etaloneo@ya.ru"><strong>Электронная почта:</strong> написать на почту etaloneo@ya.ru</a></em><br/>
						• <em><a href="viber://chat?number=%2B79121926760"><strong>Viber:</strong> Написать в Viber</a></em><br/>
						• <em><a href="https://wa.me/79121926760?text=Добрый день!"><strong>WhatsApp:</strong> Написать в WhatsApp</a></em><br/>
						• <em><a href="tg://t.me/%2B79121926760"><strong>Telegram:</strong> Написать в Telegram</a></em><br/>
						
					</p>
					<div>
						<h3>
							Социальные сети:
						</h3>
						<p>
							• <em><a href="https://2gis.ru/syktyvkar/firm/70000001022397997/tab/reviews?m=50.836641%2C61.672854%2F16">Наша компания в 2gis</a></em><br/>
							• <em><a href="https://vk.com/etaloneo">Посетите нашу страницу в ВКонтакте</a></em><br/>
						</p>
					</div>
				</div>
			<div> 
				<h3>
					Построить маршрут к офису:
				</h3>
				• <em><a href="https://yandex.ru/maps/19/syktyvkar/?ll=50.836659%2C61.672776&mode=routes&rtext=~61.672776%2C50.836659&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzU2NzUyNRJh0KDQvtGB0YHQuNGPLCDQoNC10YHQv9GD0LHQu9C40LrQsCDQmtC%2B0LzQuCwg0KHRi9C60YLRi9Cy0LrQsNGALCDQodC%2B0LLQtdGC0YHQutCw0Y8g0YPQu9C40YbQsCwgOCIKDb1YS0IV7LB2Qg%3D%3D&z=17.01">ЯндексКарты</a></em><br/>
				• <em><a href="https://2gis.ru/syktyvkar/directions/points/%7C50.836641%2C61.672854%3B70000001022397997?m=50.836641%2C61.672854%2F16">2gis маршрут</a></em><br/>
			</div>
			</div>
			
				<a href="https://yandex.ru/maps/19/syktyvkar/?ll=50.836659%2C61.672776&mode=routes&rtext=~61.672776%2C50.836659&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzU2NzUyNRJh0KDQvtGB0YHQuNGPLCDQoNC10YHQv9GD0LHQu9C40LrQsCDQmtC%2B0LzQuCwg0KHRi9C60YLRi9Cy0LrQsNGALCDQodC%2B0LLQtdGC0YHQutCw0Y8g0YPQu9C40YbQsCwgOCIKDb1YS0IV7LB2Qg%3D%3D&z=17.01">
				<img
				  src="https://static-maps.yandex.ru/1.x/?ll=50.836737,61.672834&size=450,450&z=18&l=map&pt=50.836737,61.672834,pm2rdl"
				  alt="Etalon map"
				></a>
			  
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 2fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 3fr;
		}
	}
</style>
